@import '~antd/dist/antd.css';

#root {
  display: grid;
  grid-gap: 8px;
  padding: 16px;
  width: 600px;
  height: fit-content;
  background-color: #F5F5F5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#currency-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}

.primaryButton {
  color: #fff;
  width: 40px;
  height: 28px;
  margin: 0 4px;
  border-radius: 5px;
  background-color: rgb(16, 112, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rateContainer {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.rateContainer div:nth-child(2) {
  display: flex;
  align-items: center;
}

.currencyEquator {
  margin: 0 12px;
}
.equationRight {
  width: 200px;
  display: inline-block;
}

.value {
  font-weight: 700;
  margin-right: 4px;
}

.loader {
  margin-right: 2px;
}